jade/main.jade
head
  title
    | Reverci game
body
  #main.row-fluid {{> main}}

template(name = 'main')
  .main
    | {{#if started}}
    p
      a#back(href='#') Back
      br
    | {{else}}
    |   {{#if connecting}}
    p
      a#back(href='#') Back
      br
    |   {{else}}
    |     {{#if waiting}}
    p
      a#back(href='#') Back
      br
    |     {{/if}}
    |   {{/if}}
    | {{/if}}
    | {{#if started}}
    |   {{> game}}
    | {{else}}
    |   {{#if waiting}}
    |     {{> waiting}}
    |   {{else}}
    |     {{#if connecting}}
    |       {{> connecting}}
    |     {{else}}
    |       {{> start_game}}
    |     {{/if}}
    |   {{/if}}
    | {{/if}}

template(name = 'start_game')
  h4 Welcome to Reverci
  .start_game
    p
      a#start_pc1(href="#") Play with PC Level 1
    p
      a#start_pc2(href="#") Play with PC Level 2
    p
      a#create_pp(href="#") Create Player <-> Player game
    p
      a#connect_to_pp(href="#") Connect to Player <-> Player game

template(name = 'waiting')
  .waiting
    p Your partner should enter this code on his pc. Than the game will start
    h3 {{ game_id }}

template(name = 'connecting')
  .waiting
    p Your partner should press button 'Create PvP game' and tell you the code. You should enter that code and than press go button
    input#game_id(type = 'text')
    button.btn#connecting_ready GO!
    | {{#if error}}
    |   {{error}}
    | {{/if}}

template(name = 'game')
  .game
    p
      | {{#if finished}}
      |   {{result}}
      | {{else}}
      |   {{turn}}
      | {{/if}}
    .game-field
      | {{#each game.field}}
      .game-row
        | {{#each this}}
        .game-cell(class = 'cell_{{this}}')
          div
        | {{/each}}
      | {{/each}}

client/main.html

<head>
  <title>Reverci game</title>
</head>
<body>
  <div id="main" class="row-fluid">{{> main}}</div>
</body>
<template name="main">
  <div class="main">{{#if started}}
    <p><a id="back" href="#">Back</a><br/></p>{{else}}
      {{#if connecting}}
    <p><a id="back" href="#">Back</a><br/></p>  {{else}}
        {{#if waiting}}
    <p><a id="back" href="#">Back</a><br/></p>    {{/if}}
      {{/if}}
    {{/if}}
    {{#if started}}
      {{> game}}
    {{else}}
      {{#if waiting}}
        {{> waiting}}
      {{else}}
        {{#if connecting}}
          {{> connecting}}
        {{else}}
          {{> start_game}}
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</template>
<template name="start_game">
  <h4>Welcome to Reverci</h4>
  <div class="start_game">
    <p><a id="start_pc1" href="#">Play with PC Level 1</a></p>
    <p><a id="start_pc2" href="#">Play with PC Level 2</a></p>
    <p><a id="create_pp" href="#">Create Player <-> Player game</a></p>
    <p><a id="connect_to_pp" href="#">Connect to Player <-> Player game</a></p>
  </div>
</template>
<template name="waiting">
  <div class="waiting">
    <p>Your partner should enter this code on his pc. Than the game will start</p>
    <h3>{{ game_id }}</h3>
  </div>
</template>
<template name="connecting">
  <div class="waiting">
    <p>Your partner should press button 'Create PvP game' and tell you the code. You should enter that code and than press go button</p>
    <input id="game_id" type="text"/>
    <button id="connecting_ready" class="btn">GO!</button>{{#if error}}
      {{error}}
    {{/if}}
  </div>
</template>
<template name="game">
  <div class="game">
    <p>
      {{#if finished}}
        {{result}}
      {{else}}
        {{turn}}
      {{/if}}
    </p>
    <div class="game-field">{{#each game.field}}
      <div class="game-row">{{#each this}}
        <div class="game-cell cell_{{this}}">
          <div></div>
        </div>{{/each}}
      </div>{{/each}}
    </div>
  </div>
</template>
